@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.section-container {
  @apply max-w-[1440px] mx-auto md:px-[60px] px-6;
}
.box_container {
  background: #ffffff;
  box-shadow: 0px 2px 14px -5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.let {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.swipeIn {
  animation-name: swipeIn;
  -webkit-animation-name: swipeIn;
}

.sidebar {
  position: fixed;
  min-width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  @apply overflow-x-hidden;
}
@media screen and (max-width: 640px) {
  .sidebar {
    left: -100vw;
    transition: all 0.2s linear;
  }
  .sidebar.isOpen {
    left: 0;
  }
}

@keyframes swipeIn {
  0% {
    transform: translatey(-50%);
  }

  100% {
    transform: translatey(0px);
  }
}

@-webkit-keyframes swipeIn {
  0% {
    -webkit-transform: translatey(-50%);
  }

  100% {
    -webkit-transform: translatey(0px);
  }
}
